<!DOCTYPE html>
<html>
    <head>
        <title>My App</title>
    </head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <style>
        [v-cloak] {
            display: none;
        }
        body {
            background-color:beige;
        }
        .icon {
            width: 2em;
            height: 2em;
        }
    </style>
    <body>
        <div id="app" v-cloak>
            
            <div v-show="!signedIn">
                <div class="container mt-5"> 
                    <div class="row">
                        <div class="col-lg" style="text-align: center;">
                            <h1 id="title">{{ titleText }}</h1>
                            <p>You are not signed in.</p>
                            <a class="btn btn-primary" v-on:click="signIn()">Sign In with Google</a>
                            <a class="btn btn-primary" href="https://curtisrlee.github.io/ece196-fall2020-iot/">See Documentation</a>
                        </div>
                    </div>
                </div>
            </div>

            <div v-show="signedIn">
                <div class="container mt-5"> 
                    <div class="row mb-4">
                        <div class="col-lg" style="text-align: center;">
                            <h1 id="title">{{ titleText }}</h2>
                            <a class="btn btn-primary" href="https://curtisrlee.github.io/ece196-fall2020-iot/">See Documentation</a>
                        </div>
                    </div>
                </div>
    
                <div class="container">
                    <div class="row mb-4">
                        <div class="col-sm d-flex">
                            <div class="card w-100">
                                <img v-bind:src="photoURL" class="card-img-top" >
                                <div class="card-body">
                                    <h5 class="card-title">Hello, {{displayName}}!</h5>
                                    <p class="card-text">{{email}}</p>
                                    <a class="btn btn-primary" v-on:click="signOut()">Sign Out</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm d-flex">
                            <div class="card w-100">
                                <div class="card-body">
                                    <h5 class="card-title">Sensor</h5>
                                    <ul class="list-group">
                                        <li class="list-group-item">Temperature: {{sensor.temperature}}C </li>
                                        <li class="list-group-item">Humidity: {{sensor.humidity}}%</li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm d-flex">
                            <div class="card w-100">
                                <div class="card-body">
                                    <h5 class="card-title">LED Status</h5>
                                    <table class="table">
                                        <thead class="thead-light">
                                            <tr>
                                                <th scope="col">Color</th>
                                                <th scope="col">Name</th>
                                                <th scope="col">On</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    <img class="icon" src="led.png" alt="led" style="background-color: lightcoral;">
                                                </td> 
                                                <td>Red</td> 
                                                <td>
                                                    <div v-on:change="updateColor()" class="custom-control custom-switch">
                                                        <input v-model="color.r" type="checkbox" class="custom-control-input" id="color-r">
                                                        <label class="custom-control-label" for="color-r"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img class="icon" src="led.png" alt="led" style="background-color: lightgreen;">
                                                </td> 
                                                <td>Green</td> 
                                                <td>
                                                    <div v-on:change="updateColor()" class="custom-control custom-switch">
                                                        <input v-model="color.g" type="checkbox" class="custom-control-input" id="color-g">
                                                        <label class="custom-control-label" for="color-g"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>
                                                    <img class="icon" src="led.png" alt="led" style="background-color: lightskyblue;">
                                                </td> 
                                                <td>Blue</td> 
                                                <td>
                                                    <div v-on:change="updateColor()" class="custom-control custom-switch">
                                                        <input v-model="color.b" type="checkbox" class="custom-control-input" id="color-b">
                                                        <label class="custom-control-label" for="color-b"></label>
                                                    </div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="btn-group" role="group">
                                        <button v-on:click="selectAll(true); updateColor();" type="button" class="btn btn-secondary">Select All</button>
                                        <button v-on:click="selectAll(false); updateColor();" type="button" class="btn btn-secondary">Deselect All</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row mb-4">
                        <div class="col-sm-4 d-flex">
                            <div class="card w-100">
                                <img src="pi.jpg" class="card-img-top" alt="pi.jpg">
                                <div class="card-body">
                                    <h5 class="card-title">Device: Raspberry Pi</h5>
                                    <p class="card-text">The Raspberry Pi is based!</p>
                                    <a href="https://www.raspberrypi.org/" class="btn btn-primary">Learn More</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-8 d-flex">
                            <div class="card w-100">
                                <div class="card-body">
                                    <h5 class="card-title">Chart</h5>
                                    <canvas id="temperatureChart" style="margin: auto;"></canvas>
                                    <div class="btn-group" role="group">
                                        <button v-on:click="addData(temperatureChart, 'Push', 0);" type="button" class="btn btn-secondary">Push</button>
                                        <button v-on:click="removeData(temperatureChart)" type="button" class="btn btn-secondary">Pop</button>
                                        <button v-on:click="clearChart(temperatureChart)" type="button" class="btn btn-secondary">Clear</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </body>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-database.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.21.0/firebase-auth.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        var firebaseConfig = {
            apiKey: "AIzaSyBcOondutkoewABPxeNLS0q0P4sRLgcU2k",
            authDomain: "ece196-fall2020-curtis-dev.firebaseapp.com",
            databaseURL: "https://ece196-fall2020-curtis-dev.firebaseio.com",
            projectId: "ece196-fall2020-curtis-dev",
            storageBucket: "ece196-fall2020-curtis-dev.appspot.com",
            messagingSenderId: "126753944986",
            appId: "1:126753944986:web:8f156b7acf7b6efacaf623",
            measurementId: "G-FGE9WLJ5CE"
        };
        firebase.initializeApp(firebaseConfig);
        database = firebase.database()

        auth = firebase.auth()
        auth.setPersistence(firebase.auth.Auth.Persistence.LOCAL);

        var vm = new Vue({
            el: "#app",
            data: {
                titleText: "My App",
                motd: "Hello World from Vue!",
                color: {
                    r: false,
                    g: false,
                    b: false
                },
                sensor: {
                    temperature: 0.0,
                    humidity: 0.0,
                },
                signedIn: false,
                email: "none",
                photoURL: "pi.jpg",
                displayName: "Raspberry Pi",
                temperatureChart,
            },
            created: function() {
                this.setupColorListener();
                this.setupSensorListener();

                auth.onAuthStateChanged(user => {
                    if (user){
                        this.signedIn = true;
                        this.email = user.email;
                        this.photoURL = user.photoURL;
                        this.displayName = user.displayName;
                    }
                    else{
                        this.signedIn = false;
                        this.email = "none";
                        this.photoURL = "pi.jpg";
                        this.displayName = "Raspberry Pi";
                    }
                });
            },
            mounted: function() {
                var ctx = document.getElementById('temperatureChart').getContext('2d');
                this.temperatureChart = new Chart(ctx, {
                    type: 'line',
                    data: {
                        labels: [],
                        datasets: [{ 
                            data: [],
                            label: "Temperature",
                            borderColor: "#3e95cd",
                            fill: false,
                        }]
                    },
                    options: {}
                });

                this.setupGraphListener();
            },
            methods: {
                selectAll: function(value) {
                    this.color.r = value;
                    this.color.g = value;
                    this.color.b = value;
                },
                setupColorListener: function() {
                    var colorDataRef = database.ref('data/color');
                    colorDataRef.on('value', function(snapshot) {
                        vm.color = snapshot.val();
                    });
                },
                setupSensorListener: function() {
                    var colorDataRef = database.ref('data/sensor');
                    colorDataRef.on('value', function(snapshot) {
                        vm.sensor = snapshot.val();
                    });
                },
                setupGraphListener: function() {
                    var addSnapshotToGraph = function(snapshot) {
                        values = snapshot.val()
                        console.log(values);
                        timestamp = vm.formatTimestamp(values.timestamp);
                        temperature = values.temperature;
                        vm.addData(vm.temperatureChart, timestamp, temperature)
                    }
                    var recordDataRef = database.ref('data/records');
                    recordDataRef.limitToLast(5).on('child_added', addSnapshotToGraph);
                    recordDataRef.on('child_changed', addSnapshotToGraph);
                },
                formatTimestamp: function(unixTimestamp){
                    // https://stackoverflow.com/questions/847185/convert-a-unix-timestamp-to-time-in-javascript
                    var date = new Date(unixTimestamp);
                    var hours = date.getHours();
                    var minutes = "0" + date.getMinutes();
                    var seconds = "0" + date.getSeconds();
                    return hours + ':' + minutes.substr(-2) + ':' + seconds.substr(-2);
                },
                updateColor: function() {
                    database.ref('data/color').set(this.color);
                },
                signIn: function () {
                    var provider = new firebase.auth.GoogleAuthProvider();
                    auth.signInWithPopup(provider).then(function(result) {
                        console.log( "signed in as: "+result.user.email );
                    });
                },
                signOut: function () {
                    auth.signOut().then(function() {
                        console.log( "signed out" );
                    });
                },
                addData: function (chart, label, data) {
                    chart.data.labels.push(label);
                    chart.data.datasets.forEach((dataset) => {
                        dataset.data.push(data);
                    });
                    chart.update();
                },
                removeData: function (chart) {
                    chart.data.labels.pop();
                    chart.data.datasets.data.pop();
                    chart.update();
                },
                clearChart: function (chart) {
                    chart.data.labels = [];
                    chart.data.datasets.forEach((dataset) => {
                        dataset.data = [];
                    });
                    chart.update();
                },
            }
        });




    </script>
</html>

